<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/fileAndFolderUploader') %>

    <div class="folder-all">
        <div class="folder-container">
            <nav>
                <h1>Folders and Files </h1>
                <div class="folder-nav">
                    <p class="add-folder-button">+ Add folder</p>
                    <p class="add-file-button">+ Add file</p>
                </div>
            </nav>
        
            <div class="folder-info">
                <p>Name</p>
                <p>Created</p>
            </div>

            <button onclick="window.history.back()" class="button-back edit-button-back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
            </button>

            <div class="edit-container">
                <form action="/upload/edit/<%= locals.fileId %>" method="POST" class="file-upload">
                    <input type="text" name="editedFolder" required>
                    <button type="submit" class="submit-file">Rename</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>





